/NetBeansProjects/CalcularIdade/nbproject/private/
/NetBeansProjects/Java/CalcularIdade/build/
/NetBeansProjects/Java/CalcularIdade/dist/
/NetBeansProjects/Java/DivisaoJFrame/nbproject/private/
/NetBeansProjects/Java/DivisaoJFrame/build/
/NetBeansProjects/Java/DivisaoJFrame/dist/