/NetBeansProjects/CalcularIdade/nbproject/private/
/NetBeansProjects/Java/CalcularIdade/build/
/NetBeansProjects/Java/CalcularIdade/dist/
/NetBeansProjects/Java/DivisaoJFrame/nbproject/private/
/NetBeansProjects/Java/DivisaoJFrame/build/
/NetBeansProjects/Java/DivisaoJFrame/dist/
/NetBeansProjects/Java/SuperCalculadora/nbproject/private/
/NetBeansProjects/Java/SuperCalculadora/build/
/NetBeansProjects/Java/SuperCalculadora/dist/
/NetBeansProjects/Java/09.28-SuperCalculadoraV1/nbproject/private/
/NetBeansProjects/Java/09.28-SuperCalculadoraV1/build/
/NetBeansProjects/Java/09.28 - Verificação de Voto Obrigatório/nbproject/private/
/NetBeansProjects/Java/09.28 - Verificação de Voto Obrigatório/build/