/NetBeansProjects/CalcularIdade/nbproject/private/
/NetBeansProjects/Java/CalcularIdade/build/
/NetBeansProjects/Java/CalcularIdade/dist/
/NetBeansProjects/Java/DivisaoJFrame/nbproject/private/
/NetBeansProjects/Java/DivisaoJFrame/build/
/NetBeansProjects/Java/DivisaoJFrame/dist/
/NetBeansProjects/Java/SuperCalculadora/nbproject/private/
/NetBeansProjects/Java/SuperCalculadora/build/
/NetBeansProjects/Java/SuperCalculadora/dist/
/NetBeansProjects/Java/09.28-SuperCalculadoraV1/nbproject/private/
/NetBeansProjects/Java/09.28-SuperCalculadoraV1/build/
/NetBeansProjects/Java/09.28 - Verificação de Voto Obrigatório/nbproject/private/
/NetBeansProjects/Java/09.28 - Verificação de Voto Obrigatório/build/
/NetBeansProjects/Java/JogoAdivinha/nbproject/private/
/NetBeansProjects/Java/JogoAdivinha/build/
/NetBeansProjects/Java/JogoAdivinha/dist/
/NetBeansProjects/Java/09.30 - JogoAdivinha/nbproject/private/
/NetBeansProjects/Java/09.30 - JogoAdivinha/build/
/NetBeansProjects/Java/09.30 - SuperCalculadora V2/nbproject/private/
/NetBeansProjects/Java/09.30 - SuperCalculadora V2/build/
/NetBeansProjects/Java/09.30 - SuperCalculadora V2/dist/
/NetBeansProjects/Java/FormulaBhaskara/nbproject/private/
/NetBeansProjects/Java/10.01 - FormulaBhaskara/nbproject/private/
/NetBeansProjects/Java/10.01 - FormulaBhaskara/build/
/NetBeansProjects/Java/10.01 - FormulaBhaskara/dist/
/NetBeansProjects/Java/10.01 - CalcularDelta V2/nbproject/private/
/NetBeansProjects/Java/10.01 - CalcularDelta V2/dist/
/NetBeansProjects/Java/10.01 - CalcularDelta V2/build/
/NetBeansProjects/Java/10.01 - EquacaoSegundoGrau V2/nbproject/private/
/NetBeansProjects/Java/10.01 - EquacaoSegundoGrau V2/build/
/NetBeansProjects/Java/10.01 - EquacaoSegundoGrau V2/dist/
/NetBeansProjects/Java/02.10 - Teclafacil V3/build/
/NetBeansProjects/Java/02.10 - Teclafacil V3/dist/
/NetBeansProjects/Java/02.10 - Teclafacil V3/nbproject/private/
/NetBeansProjects/Java/10.02 - Teclafacil V3/nbproject/private/
/NetBeansProjects/Java/10.02 - Teclafacil V3/build/
/NetBeansProjects/Java/JavaApplication13/nbproject/private/
/NetBeansProjects/Java/EleicoesParaPresidente/nbproject/private/
/NetBeansProjects/Java/10.02 - Teclafacil V3/dist/
/NetBeansProjects/Java/09.14-RedelemP1/nbproject/private/
/NetBeansProjects/Java/09.14-RedelemP1/build/
/NetBeansProjects/Java/09.14-RedelemP1/dist/
/NetBeansProjects/Java/JavaApplication15/nbproject/private/
/NetBeansProjects/Java/ProjetoTriangulos/nbproject/private/
/NetBeansProjects/Java/ProjetoTriangulos/build/
/NetBeansProjects/Java/ProjetoTriangulos/dist/